.product-card {
    margin-bottom: 30px;
}

.card-top-container {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #d3d3d3;
}

.card-bottom-container img {
    width: 158px;
    height: 158px;
}

.card-bottom-container {
    padding: 15px 20px 30px 20px;
}

.card-bottom-container h6{
    font-size: 18px;
    color: #263238
}

.card-bottom-categories-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

