.admin-nav-items-container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admin-nav-container {
    padding: 10px;
    background-color: #ffffff;
}

.admin-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 100px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #B6B6B6;
}

.admin-nav-item.active {
    background: rgba(40, 45, 50, 0.3);
    color: #FFFFFF;
}

.admin-nav-item p {
    margin-bottom: 0;
    margin-left: 10px;
}

@media(min-width: 768px) {
    .admin-nav-item {
        min-width: 280px;
    }

    .admin-nav-item p {
        margin-left: 10px;
    }
}

@media(min-width: 1200px) {
    .admin-nav-items-container {
        justify-content: unset;
        flex-direction: column;
    }

    .admin-nav-container {
        padding: 0;
        width: 300px;
        height: auto;
        /*height: calc(100vh - 70px);*/
    }

    .admin-nav-item {
        border-radius: 0;
        font-size: 18px;
        height: 80px;
        border-bottom: 1px solid #EEEEEE;
        justify-content: flex-start;
        padding-left: 40px;
    }

    .admin-nav-item p {
        margin-left: 10px;
    }
}